/.vscode
/Alamierung_ILS_Tabelle.xlsx
/Anfahrtszeiten.xlsx
/BFOLGE Bergrettung_2021_ENTWURF_Bergwacht_BRF_BER_II.xlsx
/Excel
/filter.py
/Gemeinden
/Gemeinden.zip
/Orte.txt
/OrteFRG.csv
/OrtePA-L.csv
/Orte_Bergwacht_0.csv
/Orte_Bergwacht_1.csv
/Orte_Bergwacht_mix_gesamt.csv
/Orte_Bergwacht_nur81er.csv
/Orte_Bergwacht_nur81er_0.csv
/Orte_Bergwacht_nur81er_1.csv
/Orte_Bergwacht_nur81er_gesamt.csv
/Orte_Bergwacht_Überschneidungen_0.csv
/Orte_Bergwacht_Überschneidungen_1.csv
/Orte_Bergwacht_Überschneidungen_gesamt.csv
/Rettungstreffpunkte.kml
/Rettungstreffpunkte_BaySF copy.kml
/Rettungstreffpunkte_BaySF.kml
/Rettungstreffpunkte_Bergwacht.csv
/Rettungstreffpunkte_Bergwacht.geojson
/Rettungstreffpunkte_Bergwacht.kml
/Rettungstreffpunkte_Bergwacht_nur81er.csv
/Rettungstreffpunkte_Bergwacht_Überschneidungen.csv
/Standorte.csv
/test.kml
/~$Alamierung_ILS_Tabelle.xlsx